#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}
.photograph-header article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.photograph-header .photographer_picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.photograph-header .photographer_name {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
  margin: 0;
}
.photograph-header article p {
  margin: 0;
  text-align: left;
}

.photograph-header.photographer_city {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
  margin: 0;
}

.photograph-header .photographer_tagline {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: gray;
  margin: 0;
}
.photograph-header .photographer_price {
  display: none;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/*css modal*/

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: auto;
  position: fixed;
  inset: 0;
  z-index: 10;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

.contact_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.contact_form label {
  color: #312e2e;
  font-size: 30px;
}

.contact_form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.contact_form input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
}
/* css encart*/
.encart {
  position: fixed;
  bottom: 0;
  right: 2%;
  width: 15%;
  height: 3.5rem;
  background-color: #db8876;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 1%;
  justify-content: space-between;
  padding-right: 1%;
}
.likes {
  width: 50%;
  font-size: 24px;
}

.textEncart {
  padding: 0 1%;
  font-weight: bold;
}

#price {
  font-weight: bold;
  font-size: 24px;
}

/* css pour dropdown*/
/* .form-tri{
  display: flex;
  flex-direction: row;
  height: 10rem;
  align-items: center;
  margin-left: 5%;
 
}
.form-tri select{
  background-color: #901C1C;
} */
.tri{
  margin: 0 100px;
  display: flex;
  gap: 10px;
  
}
#dropdown {
  position: relative;
  display: inline-block;
  padding-top: 10px;

}

#dropdown button {
  padding: 10px;
  font-size: 16px;
  background-color: #901c1c;
  color: white;
}

#dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #901c1c;
}

#dropdown ul li {
  padding: 10px;
  cursor: pointer;
  color: white;
}
